
//@use 'utility';
//@use 'globals';
@use 'variables' as *;

.section{
    padding:1rem;
    gap: 1rem;
    border-radius: 5px;
    border: 1px solid $neutral-700;
}


.option{
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid hsl(0, 0, 87);
}