// @use 'components';
// @use 'utility';
@use 'variables' as *;

body{
    font-family: 'Commissioner', sans-serif;
    background-color: $neutral-800;
    scroll-behavior: smooth;
    
}

nav, main{
    margin-inline: 5vw;
}
header, main{
    scroll-behavior: smooth;
}
main{
    background-color: $neutral-900;
    
}

