// @use 'components';
// @use 'utility';
// @use 'globals';
@use 'variables' as *;

header{
    position: relative;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, transparent 50%),
    url(../assets/images/image-hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.mainNav{
    padding-block: 2rem 15rem;
}

.navList{
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: $neutral-900;
    height: fit-content;
    left: 5vw;
    right: 5vw;
    top: 10vh;
    list-style: none;
    margin-block:0;
    padding-inline-start: 0;
    z-index: 100;
    border: 1px solid $neutral-700;
    box-shadow: 0px 0px 100px 100px rgba(0,0,0, 0.3);
    transition: 500ms ease-in;
    transform: none;
}

.listItem{
    padding:1rem ;
    border-bottom: 1px solid $neutral-700;
    a{
        text-decoration: none;
        color: $neutral-100;
        font-weight: 700;
        
        
    }
    &:last-of-type{
        border: none;
    }
}

.bodyShadow{
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0.6) 0%, transparent 50vh);
    z-index: 50;
}

.navHidden{
    transform: translateY(-50vh);
    transition: 500ms ease-in;
}

@media only screen and (min-width:1440px){
    header{
        background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, transparent 50%),
    url(../assets/images/image-hero-desktop.jpg);
    }
    .mainNav{
        padding-block: 3rem 20rem;
    }
    .logoLink{
        margin-block: auto;
    }
    .navList{
        display: flex;
        flex-direction: row;
        position: relative;
        inset: 0;
        box-shadow: none;
        background-color: transparent;
        border: 0;
        li{
            border: 0;
            
            a{
                color:$neutral-900 ;
                font-weight: 400;

            }
        }
    }
    .navHidden{
        transform: none;
    }
    .hamButton{
        display: none;
    }
}