$neutral-100:hsl(0, 0%, 0%);
//$neutral-200:white;
$neutral-300:hsl(0, 0%, 48%);
$neutral-400:hsl(176, 50%, 47%);
$neutral-500:hsl(176, 72%, 28%);
// $neutral-600:white;
// $neutral-700:white;
// $neutral-800:white;
$neutral-900:white;


// $primary-100:white;
// $primary-200:white;
// $primary-300:white;
// $primary-400:white;
// $primary-500:white;
// $primary-600:white;
// $primary-700:white;
// $primary-800:white;
// $primary-900:white;


// $ff-body:system-ui;
// $ff-headings:system-ui;